@inject HttpClient HttpClient

<div class="field has-addons has-addons-centered">
    <div class="control">
        <input class="input" type="text" placeholder="Digite o nome do usuário">
    </div>
    <div class="control">
        <button class="button is-dark" href="" @onclick="HandleSubmit">
            Buscar
        </button>
    </div>
</div>

@code {
    private async Task HandleSubmit()
    {

    }
}