@page "/"

<div class="columns is-centered is-vcentered is-mobile">
    <div class="column">
        <div class="block has-text-centered has-text-grey">
            <Logo />
            <p>
                Bem vindo ao <b class="has-text-dark">RepoHub</b>, digite o nome do usuário e liste seus
                repositórios.
            </p>
        </div>
        <div class="block has-text-centered">
            <Search />
        </div>
    </div>
</div>
