@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="section">
            <div class="container is-centered" style="margin-top:13vh;">
                @Body
            </div>
        </div>
    </div>
</div>